{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <p>ITA:</p>
    <p>Questo progetto aiuta a creare delle statistiche sull'interazione dei visitatori di musei con opere d'arte: con
        l'aiuto di una webcam è possibile monitorare per quanto tempo le persone hanoo interagito con un'opera d'arte
        grazie alla stima della direzione dello sguardo. Oltre a questo è possibile fornire una stima dell'età delle
        persone e del loro sesso.
        L'applicazione richiede una prima fase di calibrazione in cui un operatore si posiziona in due diversi punti di
        fronte all'opera e osserva specifici angoli dell'opera.
    </p>
    <p>ENG:</p>
    <p>This project helps create statistics on the interaction of museum visitors with works of art: with the help of a
        webcam, it is possible to track how long people have interacted with a work of art by estimating the direction
        of their gaze. In addition to this, it is possible to provide an estimate of people's age and gender.

        The application requires an initial calibration phase in which an operator stands at two different points in
        front of the artwork and observes specific angles of the artwork.
    </p>
{% endblock %}